.fav-col {
    width:10%;
}

.fav-icon {
    cursor: pointer;
    padding-top:3px;
}

.icon-col {
    width:10%;
}

.name-col {
    width:50%;
}

.viewer-col {
    width:30%;
}

.game-logo {
    width:20px;
    vertical-align:middle;
    padding-top:2px;
}

