<!DOCTYPE html>
<html ng-app="StreamViewer">
<head>
    <title>Stream Viewer</title>
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="/css/libs/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/libs/font-awesome.min.css">
    <link rel="stylesheet" href="/css/viewer.css">
</head>
<body>
    <div ng-controller="StreamListCtrl" style="width:{{width}}px; padding:0 5px;">
        <div class="fa fa-cog settings-cog" ng-click="toggleSettings()"></div>
        <div ng-show="!settings">
            <div class="streams-header">
                Streams
            </div>
            <div class="viewers-header">
                Viewers
            </div>
        </div>
        <div class="content">
            <table scroll-trigger="raiseOffset(limit)" scroll-content=".content" ng-show="!settings" class="table table-condensed">
                <tr ng-repeat="stream in streams | orderBy:['-favorite','-viewers','name']">
                    <td class="fav-col" ng-click="toggleFavorite(stream)">
                        <span class="glyphicon fav-icon" ng-class="{1: 'glyphicon-star', 0: 'glyphicon-star-empty'}[stream.favorite]" ></span>
                    </td>
                    <td class="icon-col"><img ng-src="{{getLogo(stream.game)}}" class="game-logo" /></td>
                    <td class="name-col"><a ng-href="http://player.twitch.tv?channel={{stream.name}}" title="http://player.twitch.tv?channel={{stream.name}}" target="_blank">{{stream.name}}</a></td>
                    <td class="viewer-col">{{stream.viewers}}</td>
                </tr>
            </table>
            <h5 ng-show="!settings && (0 == games.length)" >Please select games to display from the settings menu!</h5>
            <div ng-show="settings" class="settings">
                Games To Display
            </div>
            <table ng-show="settings" class="table table-condensed" style="margin-bottom:10px;">
                <tr ng-repeat="game in availableGames">
                    <td class="icon-col">
                        <img ng-src="{{getLogo(game)}}" class="game-logo" />
                    </td>
                    <td class="game-col">
                        {{game}}
                    </td>
                    <th class="check-col">
                        <input type="checkbox" ng-checked="games.indexOf(game) != -1" ng-click="toggleGame(game)"/>
                    </th>
                </tr>
            </table>
            <button ng-show="settings" class="btn btn-primary btn-xs submit-button" ng-click="saveGames()">Save Changes</button>
        </div>
    </div>
    <script src="/js/libs/jquery.min.js"></script>
    <script src="/js/libs/angular.min.js"></script>
    <script src="/js/libs/underscore-min.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/libs/bootstrap.min.js"></script>
</body>
</html>