<!DOCTYPE html>
<html ng-app="StreamViewer">
<head>
    <title>Stream Viewer</title>
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="/css/libs/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/viewer.css">
</head>
<body>
    <div ng-controller="StreamListCtrl" style="width:400px; padding:0 5px;">
        <table class="table table-condensed">
            <tr>
                <th class="icon-col">{{streams.length}}</th>
                <th class="name-col">Name</th>
                <th class="viewer-col">Viewers</th>
            </tr>
            <tr ng-repeat="stream in streams | orderBy:['-favorite','-viewers']">
                <td class="icon-col"><img src="{{getLogo(stream.game)}}" class="game-logo" ng-click="toggleFavorite(stream)"/></td>
                <td class="name-col"><a ng-href="http://www.twitch.tv/{{stream.name}}/popout" title="http://www.twitch.tv/{{stream.name}}/popout" target="_blank">{{stream.name}}</a></td>
                <td class="viewer-col">{{stream.viewers}}</td>
            </tr>
        </table>
    </div>
    <script src="/js/libs/jquery.min.js"></script>
    <script src="/js/libs/angular.min.js"></script>
    <script src="/js/libs/underscore-min.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/libs/bootstrap.min.js"></script>
</body>
</html>